<div class="detail-container">
    <h2>Detalles del producto</h2>
    <div>
        <label><span class="weight">ID: </span>{{producto.id}}</label>
    </div>
    <div>
        <label><span class="weight">Nombre: </span>{{producto.nombre}}</label>
    </div>
    <div>
        <label><span class="weight">Descripcion: </span>{{producto.descripcion}}</label>
    </div>
    <div>
        <label><span class="weight">Cantidad: </span>{{producto.cantidad}}</label>
    </div>
    <div>
        <label><span class="weight">Unidad: </span>{{unidad.nombre_unidad}}</label>
    </div>
    <div>
        <label><span class="weight">Categoria: </span>{{categoria.nombre_categoria}}</label>
    </div>
</div>